.BugCreator {
    margin: 0 auto;
    width: 50%;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 2px 10px;
    box-sizing: border-box;
}

.BugCreator label{
    text-align: right;
    float: left;
}

.BugCreator input {
    width: 40%;
    text-align: left;
    float: right;
}
.BugCreator textarea {
    width: 40%;
    text-align: left;
    float: right;
}

.BugCreator select {
    padding: 5px 2px;
    margin: 8px 0;
    width: 40%;
    text-align: left;
    float: right;
}